@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  background-color: whitesmoke;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  margin: 53px 0 53px 0;
  font-size: 5rem;
}
.container {
  /* margin: 50px; */
  /* padding: 40px; */
  position: relative;
  min-height: auto;
  margin: 50px 50px 0 50px;
}
span {
  color: #d17e03;
}
h2 {
  margin: 20px 0 20px 0;
}
.first {
  width: 45%;
}
.first img {
  float: left;
  width: 50%;
  margin-right: 50px;
}

.left {
  float: left;
}
.right {
  float: right;
}
footer {
  clear: both;
  position: absolute;
  top: 40rem;
  left: 85%;
}
@media (max-width: 680px) {
  .container {
    position: relative;
    min-height: auto;
    margin: 50px 50px 0 50px;
  }
  h1 {
    margin: 53px 0 53px 0;
    font-size: 3.5rem;
    text-align: center;
    line-height: 1.5em;
  }
  .logo {
    width: 100px;
  }
  p {
    margin: 16px 0 16px 0;
  }
  .first {
    width: 100%;
  }
  .first img {
    float: left;
    margin-bottom: 20px;
    width: 100%;
  }

  .left {
    float: left;
    margin-bottom: 30px;
  }
  .right {
    float: right;
    margin-bottom: 30px;
  }
  footer {
    display: none;
    position: absolute;
    top: 40rem;
    left: 85%;
  }
}
